.maincontainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search{
  width: 50vw;
  margin: 20px;
}

.countriesdiv{
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  
}
.countryCard{
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 10px;
  padding: 5px;
}

.flagimg{
  height: 100px;
  width: 100px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

